body{
    background-color:rgb(38, 38, 41);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.h1{
    text-align: center;
}
button {
    background-color: rgb(58, 58, 71);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover {
    background-color: rgb(88, 88, 101);
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: rgb(58, 58, 71);
    text-align: center;
}
tr:nth-child(even) {
    background-color: rgb(38, 38, 41);
    text-align: center;
}
tr:hover {
    background-color: rgb(88, 88, 101);
    animation: ease-in-out 0.5s;
    text-align: center;
}
